@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}
.main{
    height: 95vh;
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    position: relative;
}

.main .box {
    height: 95vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    

    position: absolute;
    top: 0;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: auto;
    height: 100px;
}

nav img {

    color: red;
    width: 130px;

    position: relative;
    z-index: 10;
}

nav button {
    z-index: 10;
    position: relative;
}

.hero {
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: medium;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {

    /* font-family: "poppins"; */
    font-weight: bolder;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.hero> :nth-child(2){
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.hero> :nth-child(3){
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.seperation{

    height: 7px;
    background-color: rgb(81, 78, 78);
    z-index: 20;
    position: relative;
}

.btn{
    padding: 3px 8px;
    background-color: rgba(63, 62, 62, 0.586);
    color: white;
    border: 1px solid rgb(191, 182, 182);
    font-weight: 400;
    cursor: pointer;
}

.btn-red{
    background-color: red;
    color: white;
    padding: 8px 24px;
    font-size: 20px;
    font-weight: 400;
    border: none;
    border-radius: 4px;
}

.btn-red-sm{
    background-color: red;
    color: white;
    border: none;
    
}

.hero-buttons {

    display: flex;
    justify-items: center;
    align-items: center;
    gap: 14px;
    position: relative;
}
.main input{
    padding: 15px 116px 13px 10px;
    font-size: 12px;
    font-weight: 900;
    border-radius: 4px;
    background-color: rgba(23,23,23,0.7);
    border: 1px solid rgb(184, 179, 179);
    color: white;
}

.first{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    color: white;
    margin: auto;
}



.secImg{
    position: relative;
}

.secImg img{
    /* width: 40vw; */
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video{
    position: absolute;
    width: 468px;
    top: 102px;
    right: 0;
    /* top: 80px;
    right: 0;
    /* bottom: 10px; */
    /* left: 80px; */

    left: 80px;
}

.first{
    display: flex;
}
.first > div :nth-child(1) {
    display: flex;
    font-size: 48px;
    font-weight: bolder;
    padding: 34px 0;
}

.first > div :nth-child(2){
    font-size: 25px;
    font-weight: 400;
}

.faq{
    background-color: black;
    color: white;
    padding: 32px;
}

.faq h2{
    text-align: center;
    font-size: 48px;
}

.questions{
    display: flex;
    background-color: rgb(54, 52, 52);
    padding: 34px;
    margin: 24px auto;
    max-width: 60vw;
    max-height: 0vw;
    justify-content: space-between;
    cursor: pointer;
    font-size: 24px;

}

.questions:hover {
    background-color: #414141;
    transition: all 10ms ease-out;
}


footer{
    color: white;
    /* margin: 2px 30vw; */
    /* text-align: center; */
    max-width: 60vw;
    margin: auto;
    padding: 14px;

}

.quest{
    padding: 34px 0 ;
}

.footer a{
    color: white;
    font-size: 14px;
}



.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 60vw;
    margin: auto;

}

@media screen and (max-width: 1300px){

        nav{
            max-width: 90vw;
        }
    .first{
        flex-wrap: wrap;
    }

    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        color: white;
        max-width: 60vw;
        margin: auto;
    
    }

    .hero> :nth-child(1) {

        /* font-family: "poppins"; */
        font-weight: bolder;
        font-size: 32px;
        font-weight: bolder;
        text-align: center;
    }
    
    .hero> :nth-child(2){
        font-size: 18px;
        font-weight: 400;
        text-align: center;
    }
    
    .hero> :nth-child(3){
        font-size: 18px;
        font-weight: 400;
        text-align: center;
    }

    .hero-buttons {

        display: flex;
        justify-items: center;
        align-items: center;
        gap: 14px;
        position: relative;
        flex-direction: column;
    }

    .footer{
        max-width: 90vw;
        align-items: center;
    }
}



.footer-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 1300px){

    .first{
        flex-wrap: wrap;
    }

    .secImg img{
        /* width: 40vw; */
        width: 555px;
        position: relative;
        z-index: 10;
    }
    
    .secImg video{
        position: absolute;
        width: 468px;
        top: 102px;
        right: 0;
        /* top: 80px;
        right: 0;
        /* bottom: 10px; */
        /* left: 80px; */
    
        left: 80px;
    }
}

